<p id="notice"><%= notice %></p>

<div class="center">
  <h1>Attendees for <%= Event.find_by(id: params[:event_id]).title %></h1>
</div>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Check In Time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @check_ins.each do |check_in| %>
      <% if check_in.event_id.to_s == params[:event_id].to_s %>
        <tr id=<%= check_in.id %>>
          <td><%= check_in.name %></td>
          <td><%= check_in.email %></td>
          <td><%= check_in.created_at.strftime("%B %d, %Y; %l:%M%p") %></td>
          <td><%= link_to 'Edit', edit_check_in_path(check_in) %></td>
          <td><%= link_to 'Destroy', check_in, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Back to All Events', events_path %> |
<%= link_to 'Check In', new_event_check_in_path(params[:event_id]) %>

