<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @check_in.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @check_in.email %>
</p>

<p>
  <strong>Event:</strong>
  <%= Event.find_by(id: @check_in.event_id).title %>
</p>

<p>
	<strong> Check In Time:</strong>
	<%= @check_in.created_at.strftime("%B %d, %Y; %l:%M%p") %>
</p>

<%= link_to 'Edit', edit_check_in_path(@check_in) %> |
<%= link_to 'Back', event_check_ins_path(@check_in.event_id) %>
