<p id="notice"><%= notice %></p>

<div class="center">
  <h1> <%= image_tag("swirl.gif", alt: "Swirl 1", width: 80, height: 40) %>
  Events
  <%= image_tag("swirl.gif", alt: "Swirl 2", width: 80, height: 40) %>
  </h1>
</div>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Title</th>
      <th>Date</th>
      <th>Time</th>
      <th>Creator</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr id=<%= "#{event.id}"%>>
        <td><%= event.title %></td>
        <td><%= event.date.strftime("%B %d, %Y") %></td>
        <td><%= event.date.strftime("%l:%M %p") %></td>
        <td><%= event.creator %></td>
        <td><%= link_to 'Show', event %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event', new_event_path %>

