<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.date.strftime("%B %d, %Y") %>
</p>

<p>
	<strong>Time:</strong>
	<%= @event.date.strftime("%l:%M%p") %>
</p>

<p>
  <strong>Creator:</strong>
  <%= @event.creator %>
</p>

<%= link_to 'Back to All Events', events_path %> |
<%= link_to 'Attendees', event_check_ins_path(@event) %> |
<%= link_to 'Check In', new_event_check_in_path(@event) %> |
<%= link_to 'Edit Event', edit_event_path(@event) %>

