@import "bootstrap-sprockets";
@import "bootstrap";

.center {
  text-align: center;
} 


.button
{
    /* style for buttons */
    background-color: blue;
    border: none;
    color: white;
    padding: 5px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}


/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer small {
  float: left;
  color: #33D6FF;
}

